<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Sale</title>
</head>
<body>
    <h1>Create Direct Sale</h1>
    <a href="{% url 'index' %}">回首頁</a>
    {{message}}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input id="datatime1" type="datetime-local" name="datatime1">
        <input type="submit">
    </form>
</body>
</html>
