{% load static %}
<link href="{% static "css/styles.css" %}" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Personal Settings - BAFAP</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">BAFAP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/settings721/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/create-NFT721/">NFT 721</a></li>
                                <li><a class="dropdown-item" href="/create-NFT1155/">NFT 1155</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/sale/list-direct-sale/">Direct Sale</a></li>
                                <li><a class="dropdown-item" href="/sale/list-auction">Auction</a></li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">圖文作家</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/writer_subscribe/">已訂閱之作家</a></li>
                                <li><a class="dropdown-item" href="/writer_all/">所有圖文作家</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <form class="d-flex">
                        <div>
                            <button type="button" class="btn btn-outline-dark" id="btn_buy865" onclick="buy865()">
                                <!-- <i class="bi-cart-fill me-1"></i>
                                Cart -->
                                <span class="badge bg-dark text-white ms-1 rounded-pill">{{user.platform_token}}</span>
                            </button>
                        </div>
                        <div style="padding-left: 30px">
                            <button type = "button" class="btn btn-outline-dark" id="btn_logout" onclick="logout()">
                                Logout
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">競拍</h1>
                    <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
                </div>
            </div>
        </header>
        <!-- <form action="" method = "POST" id="myForm">
            {% csrf_token %}
            <input type="hidden" value="Now" name="NOW">
            <input type="submit" id = "now" value="NOW" onsubmit="return false;"> 
        </form> -->
        <!-- <form action="" method = "POST">
            {% csrf_token %}
            <input type="hidden" value="Pre" name="PRE">
            <input type="submit" value="Pre" value="PRE">
        </form>
        <form action="" method = "POST">
            {% csrf_token %}
            <input type="hidden" value="End" name="END">
            <input type="submit" value="End" value="END">
        </form> -->
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
                {% for auction in auctions_now %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ auction.img.url }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{auction.title}}</h5>
                                    <h5 class="fw-bolder">現時價格：{{auction.latest_price}}</h5>
                                    <!-- Product price-->
                                    <!-- {{erc721.contract_address}} -->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'detail-auction' auction.id %}">參與競拍</a></div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <!-- <h1 class="display-4 fw-bolder"  >You don't have any NFT 721</h1> -->
                {% endfor %}
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" style="border-color:#e2e6eb; color:#e2e6eb" href="{% url 'create-auction' %}">創建拍賣</a></div>
            </div>
            <div class="container"><p class="m-0 text-center text-white" style = "font-size: 0.1px;">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        function buy865(){
            return window.location.replace("{% url 'buy-erc865' %}")
        }
        function logout(){
            return window.location.replace("{% url 'login' %}")
        }      
    </script>
</html>
    

